<ion-view title="Account Settings">
    <ion-content class="padding">
        <!--<ion-item>
            <pre>{{user | json}}</pre>
        </ion-item>
        <ion-item>
            <pre>{{user.get("username")}}</pre>
        </ion-item>-->
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="userParam.username">
          </label>

          <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="userParam.first_name">
          </label>

          <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="userParam.last_name">
          </label>

          <button class="button-assertive" ng-click="doUpdateAction()">
              Update
          </button>
        </div>
    </ion-content>
</ion-view>
