<ion-view title="Account Settings">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="doSomeAction()">
            Do Something
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button" ng-click="doLogoutAction()">
            Logout
          </button>
        </ion-nav-buttons>
    <ion-content class="padding">
        <!--<ion-item>
            <pre>{{user | json}}</pre>
        </ion-item>
        <ion-item>
            <pre>{{user.get("username")}}</pre>
        </ion-item>-->
        <div class="list">
          <label class="item item-input">
            <span class="input-label">User Name</span>
            {{user.get("username")}}
          </label>

          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="userParam.first_name">
          </label>

          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="userParam.last_name">
          </label>

          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="userParam.email">
          </label>

          <label class="item item-input item-select">
              <div class="input-label" >
                Gender
              </div>
              <select ng-model="userParam.gender">
                <option>Female</option>
                <option selected>Male</option>
              </select>
            </label>

          <label class="item item-input">
            <span class="input-label">Age</span>
            <input type="text" placeholder="Age" ng-model="userParam.age">
          </label>

          <button class="button button-positive" style="width:100%" ng-click="doUpdateAction()">
              Update
          </button>
        </div>
    </ion-content>
</ion-view>
