<ion-view title="Add New Car">
    <ion-content class="padding">
        <!--<ion-item>
            <pre>{{user | json}}</pre>
        </ion-item>
        <ion-item>
            <pre>{{user.get("username")}}</pre>
        </ion-item>-->
        <div class="list">

          <label class="item item-input">
            <span class="input-label">Brand</span>
            <input type="text" ng-model="">
          </label>

          <label class="item item-input">
            <span class="input-label">Model</span>
            <input type="text" ng-model="">
          </label>

          <label class="item item-input">
            <span class="input-label">Year</span>
            <input type="text" ng-model="">
          </label>

          <label class="item item-input">
            <span class="input-label">Engine Litres</span>
            <input type="text" ng-model="">
          </label>

          <label class="item item-input">
            <span class="input-label">Horse Power</span>
            <input type="text" ng-model="">
          </label>

          <label class="item item-input">
            <span class="input-label">Car Protect Company</span>
            <input type="text" ng-model="">
          </label>

          <button class="button button-positive" style="width:100%" ng-click="doInsertAction()">
              Add Car
          </button>
        </div>
    </ion-content>
</ion-view>
